$font-family-base: 'Indie Flower', cursive;
@import '~bootstrap/scss/bootstrap';
$heading-background-color: #2f3c7e;
$body-background: #fdebed;

body {
  background-color: $body-background;
}

h3 {
  text-align: center;
  margin: 20px;
  font-size: 2em;
  font-weight: bold;
}

h1 {
  color: $body-background;
  padding: 10px;
  font-size: 3em;
  font-weight: bold;
  background: $heading-background-color;
  text-align: center;
  margin-bottom: 50px;
}

form {
  color: $heading-background-color;
  margin: 20px;
}

.row {
    display: grid;
    justify-content: center;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 50px 50px 10px;
    grid-gap: 5%;
    margin-right: auto !important;
  }

.col-4 {
  background-color: $heading-background-color;
  color: $body-background;
  width: 100px;
  height: 100px;
  max-width: 100px !important;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  line-height: 100px;
  }
