@import '~bootstrap/scss/bootstrap';

h1 {
  background: $pink;
  text-align: center;
}

form {
  margin: 20px;
}

.col-4 {
  border: 1px solid $black;
  display: flex;
  font-size: 20px;
  height: 50px;
  justify-content: center;
  width: 50px;
}
