@import '~bootstrap/scss/bootstrap';
$grid-color: #fff;
$grid-base-color: #C0C0C0;
$heading-background-color: #CD5C5C;


h1, h3 {
  text-align: center;
}
h1 {
  background: $heading-background-color;
}

form {
  margin: 20px;
}

.row {
    display: grid;
    justify-content: center;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 50px 50px 10px;
    grid-gap: 5%;
    background-color: $grid-color;
    color: $grid-base-color;
  }

.col-4 {
  background-color: $grid-base-color;
  color: $grid-color;
  margin: 5px;
  width: 100px;
  height: 100px;
  max-width: 100px !important;
  /*padding: 50px;*/
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  background-color: #CD5C5C;
  text-align:center;
  line-height:100px;
  }
